<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
	<link rel="stylesheet" href="/static/main.css">
  <script >
    function Validate() {
      var password = document.getElementById("txtPassword").value;
      var confirmPassword = document.getElementById("txtConfirmPassword").value;
      if (password != confirmPassword) {
          alert("Passwords do not match.");
          return false;
      }
      return true;
  }
  </script>
</head>
<body>
<form action="Faculty_registration" method="POST">
  {% csrf_token %}
<div class="wrapper">
    <div class="title">
      Employee Registration Form
    </div>
    <div class="form">
       <div class="inputfield">
          <label>First Name</label>
          <input required name="first_name" type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Last Name</label>
          <input required name="last_name"type="text" class="input">
       </div>  
       <div class="inputfield">
          <label>Password</label>
          <input required name="pass1"type="password" id="txtPassword" class="input" >
       </div>  
      <div class="inputfield">
          <label>Confirm Password</label>
          <input required name="pass2" type="password" id="txtConfirmPassword" class="input" onChange="Validate();" >
       </div> 
        <div class="inputfield">
          <label>Gender</label>
          <div class="custom_select">
            <select name="gender" required>
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
       </div> 
       <div class="inputfield">
        <label>Department</label>
        <div class="custom_select">
          <select name="dept"required>
            <option value="">Select</option>
            <option value="AIDS">AI & DS</option>
            <option value="CSE">Computer Science Engineering</option>
            <option value="CIVIL">Civil Engineering</option>
            <option value="ECE">Electronics and Communication Engineering</option>
            <option value="EEE">Electrical and Electronics Engineering</option>
            <option value="MECH">Mechanical Engineering</option>
            <option value="EC">Examination Cell</option>
            <option value="BS&H">BS&H</option>
            <option value="TP">Training And Placement</option>
          </select>
        </div>
     </div>
     <div class="inputfield">
      <label>Designation</label>
      <input required name="designation" type="text" class="input">
     </div>
        <div class="inputfield">
          <label>Email Address</label>
          <input required name="email" type="text" class="input">
       </div> 
      <div class="inputfield">
          <label>Phone Number</label>
          <input required name="contact"type="text" class="input">
       </div> 
      <div class="inputfield">
          <label>Address</label>
          <textarea required name="address"class="textarea"></textarea>
       </div> 
      <div class="inputfield">
          <label>Postal Code</label>
          <input  name="postal_code"required type="text" class="input">
       </div> 
      
      <div class="inputfield">
        <input type="submit" value="Register" class="btn" >
      </div>
    </div>
</div>
</form>	
	
</body>
</html>