{% extends "index.html" %}
{% block content %}
<form action="forgotpassword" method="POST">
    {% csrf_token %}
  <div class="wrapper">
      <div class="title">
        Login
      </div>
      <div class="form">
        <div class="inputfield">
            <label>Email Address</label>
            <input required name="email" placeholder="Enter your E-Mail"type="text" class="input">
        </div>
        <div class="inputfield">
            <input type="submit" value="Login" class="btn" >
        </div>
        {% if message%}
        <div class="inputfield">
            <label>{{message}}</label>
        </div>
        {%endif%}
      </div>
  </div>
  </form>	
{% endblock %}