{% extends "index.html" %}
{% block content %}
  <div class="main">
    <div class="svg">
      <img src="static/img/office.svg" alt="" >
    </div>
    <div class="boya">
      <h1 class="dolo">Am I Available...?</h1>
      <div class="deek">
        <p> Am i available is a portal where it helps us to know whether the higher authorities officials of any
          department are available or not.This portal helps in displaying the current availability status of the officials .This will be so useful for the users to find out if the desired officials are at hand or not. </p>
      </div>
    </div>
  </div>
{% endblock %}
