{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/main.css">

<form action="login" method="POST">
    {% csrf_token %}
  <div class="wrapper">
      <div class="title">
        Login
      </div>
      <div class="form">
        <div class="inputfield">
            <label>Email Address</label>
            <input required name="email" placeholder="Enter your E-Mail"type="text" class="input">
         </div>
         <div class="inputfield">
            <label>Password</label>
            <input required name="pass1" placeholder="Enter your password" type="password" class="input" >
         </div>   
        <div class="inputfield">
           <label>      </label>
          <input type="submit" value="Login" class="btn" >
          <label>      </label>
        </div>
        <label>      </label>
        <label>{{message}}</label>
        <label>      </label>

          
    
      </div>
  </div>
  </form>	
{% endblock %}