{% extends "index.html" %}
{% block content %}
<form action="updatestatus" method="POST">
    {% csrf_token %}
    <div class="wrapper">
        <div class="title">
          Update Status
        </div>
        <div class="form">
            <div class="inputfield">
              <label>Status</label>
              <div class="custom_select">
                <select name="gender" required>
                  <option value="DND">Do Not Disturb</option>
                  <option value="Available">Available</option>
                  <option value="Unavailable">Unavailable</option>
                  <option value="On Leave">On Leave</option>
                </select>
              </div>
           </div> 
           
         
    
          <div class="inputfield">
            <input type="submit" value="Update Status" class="btn"   >
          </div>
        </div>
    </div>
  </form>
  {% endblock %}
  